* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* background-color:#d8dbe2;*/
  background-color: red;
  height: 100%;
}

.countries  {
  flex-wrap: wrap;
  margin: 0 2rem .8rem 0;
}

.countries > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}

input {
  border-style: none;
  outline: none;
  border-radius: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem 5% 0 5%;
  padding-left: 1.5rem;
  width: 90%;
  height: 2.5rem;
  background-color: rgb(243, 243, 243);
}

#sort_By {
  border-style: none;
  outline: none;
  border-radius: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0.4% 5% 2% 5%;
  padding-left: 1.5rem;
  width: 30%;
  height: 2.5rem;
  background-color: rgb(243, 243, 243);
}

.country__details > p {
  font-weight: 700;
  color: rgb(69, 55, 55);
  margin: 0;
  padding: 0;
}

.favourite {
  color: white;
  background-color: rgb(88, 88, 255);
  height: 2rem;
  width: 4rem;
  border-style: none;
  border-radius: 4px;
  font-weight: bold;
  margin: .5rem;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-top: 3rem 
}

.country__name {
  color:rgb(41, 41, 54);
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(225, 225, 225);
  margin-right: 1rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.country > img {
  margin: 5px 0 0 30px;
  width: 75%;
  height: 55%;
}
.country {
  width: 7%;
  height: 16%;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 2rem;
}

.country:hover {
  transform:scale(1.1)
}

.nav-link {
  color: white;
}
/* The code below is a custome css style to enable
theme toggling */

/* Example styles for the navbar */
.light-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 95vh;
  z-index: 100;
  background-color: #5c687d;
  color: #fff;
  box-shadow: 0 12px 8px rgba(0, 0, 0, 0.1);
  height: 6vh;
}

.light-navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0 3vw;
  font-weight: 600;
  font-size: 1.2rem;
}

.country {
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  width: 30vw;
  height: 43vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 2px;
  border-radius: 7px;
}

/* Example styles for the footer */
.light-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c687d;
  color: #fff;
  padding: 10px;
  font-weight: 400;
  font-size: 1rem;
}


.light-countries {
  height: 100%;
  width: 100vw;
  background-color:#d8dbe2; 
}


/* Dark Theme */
.dark-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 97vh;
  z-index: 100;
  background-color: #3d405b;
  box-shadow: 0 12px 8px rgba(0, 0, 0, 0.1);
  height: 6vh;
  margin-bottom: 3rem;
}

.dark-navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 6vh;
  padding: 0 3vw;
  font-weight: 400;
  font-size: 1.2rem;
}

/* Example styles for the footer */
.dark-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d405b;
  color: #fff;
  padding: 10px;
  font-weight: 400;
  font-size: 1rem;
}


.dark-countries {
  height: 100%;
  width: 100vw;
  color: #d8dbe2;
  background-color: #293241;
}